<html>
	<head>
	<title> 404 </title>
		<meta charset="utf-8"/>
	</head>
    <body style="background: linear-gradient(to bottom, #72bcd4, white 10em); background-repeat: no-repeat;">
		<div class="container-flex">
			<div class="row height1 justify-content-between">
			</div>
			<div class = "height1"></div>
			<div class="row height1 justify-content-between">
                <div class="col-sm">
					<h1><%= error %></h1>
					<h1>Oops, algo salió mal, no hemos podido encontrar la página.</h1>
                </div>
			</div>
        </div>
    </body>
</html>