<html>
	<head>
    <title> 404 </title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/indice.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
    <body>
      <div class="negro"></div>
      <div class="container">
        <table class="table">
          <tr>
            <td class="table-info">ID</td>
            <td class="table-danger">Nombre</td>
            <td class="table-Warning">Apellidos</td>
          </tr>
          <% users.forEach(function(u){ %>
            <tr>
              <td><%= u.id %></td>
              <td><%= u.nombre %></td>
              <td><%= u.apellidos %></td>
            </tr>
          <% }); %>
        </table>
        <div>
          <form class="centrar" method="POST" action="anadirPersona">
              <input type="text" placeholder="Nombre" name="persona[nombre]">
              <input type="text" placeholder="Apellidos" name="persona[apellidos]">
              <input type="submit" class="btn btn-primary" value = "Enviar">
          </form>
        </div>
      </div>
    </body>
</html>